# latex
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.gz
*.toc
*.out
*.xdv
*.snm
*.nav
*.xcp
*.vrb
*.tdo
*.acn
*.alg
*.acr
*.ist
*.glsdefs
*.bcf
*.run.xml

# my build files
/**/_build
ebook.tex
book.tex
todo.tex
main.pdf

*.pdf
!**/figures/*.pdf
